/*??? ????????*/
body {
    background-color: gray;
}

/*???????? ?????(header) ?????*/
#header {
    width: 500px;
    height: 120px;
    background-color: white;
    border-radius: 30px;
    margin-left: 550px;
    transition: top;

    /*????? ???? ??????, ??????? ????????? ?? ????? ?????*/
    text-shadow: 0 1px 0 hsl(174, 5%, 80%),
    0 2px 0 hsl(174,5%,75%),
	0 3px 0 rgb(144, 177, 177),
	0 4px 0 rgb(96, 184, 173),
	0 5px 0 rgb(67, 185, 172),
	0 6px 0 rgb(48, 187, 173),
	0 7px 0 rgb(26, 204, 186),
    0 8px 0 rgb(3, 245, 221),
    0 0 5px rgba(0,0,0,.05),
	0 1px 3px rgba(0,0,0,.2),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.2),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.3);
	
}

/*??????? ??????, ??????? ? ????? ?????. 
?????, ??? marquee, ??? ?? ???????? ?? ??????????? ????. 
????????? ??? ???, ?, ?? ????. ?? ? ????????? Google-chrome ? Firefox ???????? */
marquee{
    color:skyblue;
    position: absolute;
    top: 25px;
}

/*???? ? ????????? ???????*/
#projectDescription{
    width: 1200px;
    height: 300px;
    margin-top: 5%;
    margin-left: 12%;
    border-radius: 30px;
    background-color: white;
    
}

/*???? "??????? ???????"*/
#projectWorkArea{
    width: 1200px;
    height: 300px;
    margin-top: 5%;
    margin-left: 12%;
    border-radius: 30px;
    background-color: white;
}

#projectWorkArea h1 {
    text-align: center;
}

/*???-?? ???? ??????? (Footer) ?????. 
P.S.
???????? ????? ??? ?? ???????, ?????? ?????????? ?????? ??????? ? ????????, ??? ? ???????? ?????? ? ??? ??? ??? ????? footer ?????????*/
#autor {
    border-radius: 30px;
    background-color: white;
}

/*????? ?????? ?????? ????????????? ?? ??????*/
a {
    text-decoration: none;
}
