/*??? ????????*/
body {
    background: url(folder_for_logo/logo_react.jpeg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 10% 21%;
}

/*???????? ?????(header) ?????*/
#header {
    width: 500px;
    height: 120px;
    background-color: white;
    border-radius: 30px;
    margin-left: 550px;
    position: relative;
    background-image: linear-gradient(white, blue, white);
    
    /*????? ???? ??????, ??????? ????????? ?? ????? ?????*/
    text-shadow: 0 1px 0 hsl(174, 5%, 80%),
    0 2px 0 hsl(174,5%,75%),
	0 3px 0 rgb(144, 177, 177),
	0 4px 0 rgb(96, 184, 173),
	0 5px 0 rgb(67, 185, 172),
	0 6px 0 rgb(48, 187, 173),
	0 7px 0 rgb(26, 204, 186),
    0 8px 0 rgb(3, 245, 221),
    0 0 5px rgba(0,0,0,.05),
	0 1px 3px rgba(0,0,0,.2),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.2),
	0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.3);
}

.flashingText{
    animation: flashingText 1s infinite;
    text-align: center;
    margin: 0;position: absolute;
    top: 25%;
    left: 25% ;
}

@keyframes flashingText {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/*???? ? ????????? ???????*/
#projectDescription{
    width: 1200px;
    height: 300px;
    margin-top: 5%;
    margin-left: 12%;
    border-radius: 30px;
    background-image: linear-gradient(skyblue, white, skyblue);
    position: relative;
}

/*????????...*/
@keyframes efectGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0, 50%;
    }
}

/*???? "??????? ???????"*/
#projectWorkArea{
    width: 1200px;
    height: 300px;
    margin-top: 5%;
    margin-left: 12%;
    border-radius: 30px;
    position: relative;
    background-color: white;
    background-image: linear-gradient(skyblue, white, skyblue);
}

#projectWorkArea h1 {
    text-align: center;
}

/*
???-?? ???? ??????? (Footer) ?????. 
P.S.
???????? ????? ??? ?? ???????, ?????? ?????????? ?????? ??????? ? ????????, 
??? ? ???????? ?????? ? ??? ??? ??? ????? footer ?????????
*/
#autor a{
    border-radius: 30px;
    background-color: white;
    background-image: linear-gradient(black, white, black);
}

#autor {
    height: 80px; 
    width: 300px; 
    margin-top: 3%; 
    margin-bottom: 3%; 
    margin-left: 80%; 
    background-image: linear-gradient(black, white, black);
    text-align: center; 
    line-height: 80px; 
    border-radius: 30px;
}

/*????? ?????? ?????? ????????????? ?? ??????*/
 a {
    text-decoration: none;
    background: linear-gradient(100deg,orange, red, orange);
    background-size: 300% 300%;
    animation: efectGradient 3s ease infinite;
}

/*??????? ??? ???????? github*/
img {
    border-radius: 30px;
}