body {
    background: url(folder_for_logo/logo_react.jpeg);
    background-size: 10% 13%;
}

#header {
    top: 0;
    width: 100%;
    height: 120px;
    border-radius: 30px;
    position: fixed;
    z-index: 100;
    background-color: yellowgreen;
    background-image: linear-gradient(white, blue, white);
    text-shadow: 0 1px 0 hsl(174, 5%, 80%),
    0 2px 0 hsl(174,5%,75%),
	0 3px 0 rgb(144, 177, 177),
	0 4px 0 rgb(96, 184, 173),
	0 5px 0 rgb(67, 185, 172),
	0 6px 0 rgb(48, 187, 173),
	0 7px 0 rgb(26, 204, 186),
    0 8px 0 rgb(3, 245, 221),
    0 0 5px rgba(0,0,0,.05),
	0 1px 3px rgba(0,0,0,.2),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.2),
	0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.3);
    
}

#rotate {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    animation: rotateLogo 1s infinite linear;
}

@keyframes rotateLogo {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.flashingText{
    animation: flashingText 1s infinite;
    text-align: center;
    margin-top: -90px;
}

@keyframes flashingText {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

#projectDescription{
    margin-top: 150px;
    width: 1200px;
    height: 300px;
    margin-left: 12%;
    border-radius: 30px;
    background-image: linear-gradient(skyblue, white, skyblue);
    position: relative;
}

#projectDescription a {
    text-decoration: none;
    background: linear-gradient(100deg,orange, red, orange);
    background-size: 300% 300%;
    animation: efectGradient 3s ease infinite;
}

li {
    list-style-type: none;
}

@keyframes efectGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0, 50%;
    }
}

#projectWorkArea{
    width: 1200px;
    height: 500px;
    margin-top: 50px;
    margin-left: 12%;
    border-radius: 30px;
    background-image: url(folder_for_logo/matrix.jpg);
    background-size: 80%;
}

#projectWorkArea h1 {
    text-align: center;
    color: white;
}

#autor {
    width: 350px;
    height: 50px;
    border-radius: 30px;
    border-style: solid;
    text-align: left;
    background-image: linear-gradient(white, black, white);
    padding: 10px;
    color: skyblue;
    margin: 5%;
    margin-left: 35%;
    text-decoration: none;
}

#autor a {
    text-decoration: none;
    color:skyblue;
}

#autor a:hover{
    color:white;
    animation: rotateLogo 1s linear;
}
